@font-face {
    font-family: "bebastitulo";
    src: url("../Fonts/webfontkit-20210408-112446/bebasneue_regular-webfont.woff2");
}

@font-face {
    font-family: "bebaslight";
    src: url("../Fonts/webfontkit-20210408-112446/bebasneue_light-webfont.woff2");
}

@font-face {
    font-family: "bebasbold";
    src: url("../Fonts/webfontkit-20210408-112446/bebasneue_bold-webfont.woff2");
}

@font-face {
    font-family: "bebasregular";
    src: url("../Fonts/bebas_neue/BebasNeue-Regular.woff2");
}

@font-face {
    font-family: "bebasthin";
    src: url("../Fonts/bebas_neue/BebasNeue-Thin.woff2");
}


/*Variables*/

:root {
    --fuentetitulo: "bebastitulo";
    --fuenteppal: "bebaslight";
    --colorppl: #fcdc64;
    --colorsec: #707070;
}

html {
    background-color: #f8f9fa;
}


/* Globales */

body {
    font-family: 'Bebas Neue', cursive;
    background-color: #f8f9fa;
}

.contenedor {
    width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

#portadaycontacto,
#sobre_mi,
#escritura,
footer {
    border-radius: 5px 5px 5px 5px;
}


/*Main*/

header {
    position: sticky;
    top: 0;
    z-index: 4;
}

.color-bg {
    background-color: white;
}


/*menu hamburguesa*/

.nav-hamb {
    display: none;
    padding: 10px 10px 10px 0;
    position: sticky;
    top: 10px;
    z-index: 2;
    background-color: #f8f9fa;
}

ul {
    padding: 0;
    margin-top: 20px;
    display: none;
    position: absolute;
    background-color: #cccccc;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    z-index: 1;
}

li {
    padding-left: 30px;
    list-style: none;
    margin-bottom: 5px;
    font-size: 20px;
}

a {
    color: var(--colorsec);
}

li:nth-child(2n) {
    background-color: #f8f9fa;
}

input:checked~ul {
    display: block;
    transition: 1s;
}

input {
    display: none;
}

label {
    cursor: pointer;
    padding-left: 10px;
}

.navegacion-ppl {
    top: 0;
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
}

.navegacion-ppl a {
    padding: 20px;
    font-family: var(--fuenteppal);
    font-weight: light;
    color: black;
    font-size: 20px;
    letter-spacing: 4.5px;
}

.navegacion-ppl a:hover {
    color: #747474;
    border: #707070 solid 2px;
    background: #fff;
}

#portadaycontacto {
    position: relative;
    height: 700px;
    background-color: #fcdc64;
}

.nombre {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: rgb(95, 91, 91);
    font-family: "bebasthin";
    /*font-family:'Yanone Kaffeesatz', sans-serif;*/
    font-weight: bold;
    letter-spacing: 4px;
    padding: 2px;
}

.cuadro_contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 380px;
    left: 5px;
    width: 58px;
    height: 320px;
    margin: auto 0;
    justify-content: space-evenly;
    transform: scale(.9);
}

.cuadro_contacto img {
    zoom: 1;
}

.titulo2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(122 48 48 /0%);
    top: 170px;
    width: 900px;
    height: 360px;
    left: 60px;
    z-index: 2;
}

.titulo2 h2 {
    font-size: 70px;
    color: rgb(54, 54, 54);
    text-align: center;
    font-family: var(--fuentetitulo);
    font-weight: bold;
}

.titulo2 img {
    width: 350px;
    height: 350px;
}

.img_ancho {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    /* border:5px solid rgb(253, 253, 253); */
    box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
}

#sobre_mi {
    height: 600px;
    background-color: rgb(54, 54, 54);
    margin-top: 10px;
}

#sobre_mi p {
    font-family: "Yanone Kaffeesatz";
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}

#sobre_mi h3 {
    font-size: 22px;
    font-family: var(--fuenteppal);
    text-align: center;
    color: #fcdc64;
    letter-spacing: 3px;
}

#texto1_sobremi {
    height: 495px;
    width: 300px;
    float: right;
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 120px;
    border: 5px solid #fcdc64;
    border-style: outset;
    border-bottom: transparent;
}

#texto2_sobremi {
    height: 495px;
    width: 300px;
    background-color: rgb(97, 97, 97, 0);
    float: right;
    border: 5px solid #fcdc64;
    border-style: outset;
    border-top: transparent;
}

#texto2_sobremi h3 {
    margin-top: 135px;
}

#redes,
#servicios {
    height: 600px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#redes {
    height: 300px;
}

.redes {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 0.6fr;
    grid-template-areas: "insta twitter" "face     twitter";
    background-color: #ffffff;
    gap: 0.2rem;
}

.text {
    color: white;
    font-size: 40px;
    letter-spacing: 0.5rem;
}

.twitter,
.instagram,
.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
}

.text-posI,
.text-posF,
.text-posT {
    display: flex;
    z-index: 1;
    justify-content: center;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.text-posI {
    grid-area: insta;
}

.text-posT {
    grid-area: twitter;
    writing-mode: vertical-lr;
}

.text-posF {
    grid-area: face;
}

.instagram {
    display: flex;
    z-index: 0;
    grid-area: insta;
    background-image: url(/Img/instagram2.jpg);
    background-size: cover;
    background-position: center center;
}

.twitter {
    display: flex;
    z-index: 0;
    grid-area: twitter;
    background-image: url(/Img/twitter2.jpg);
    background-size: cover;
    background-position: center;
}

.facebook {
    display: flex;
    z-index: 0;
    grid-area: face;
    background-image: url(/Img/facebook.jpg);
    background-size: 100%;
    background-position: center center;
}


/*servicios*/

.servicios {
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "texto serv1 serv2 serv3 serv4";
    background-color: var(--colorppl);
    column-gap: 0.2rem;
    background-color: white;
    color: rgb(54, 54, 54);
}

.servicios h3 {
    margin: 0;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    writing-mode: vertical-lr;
}

.texto1_servicios {
    display: grid;
    grid-template-rows: 20fr 2fr;
    background-image: url(/Img/servicios.jpg);
    background-size: cover;
    border-radius: 5px 5px 5px 5px;
    justify-items: center;
}

.servicios_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto1_servicios h3 {
    margin: 0 auto;
    writing-mode: horizontal-tb;
    color: white;
}

.texto1_servicios h4 {
    text-align: center;
    color: #fcdc64;
    font-weight: lighter;
}

.contactame {
    font-family: var(--fuentetitulo);
    color: rgb(27, 27, 27);
    font-size: 28px;
    margin: auto auto;
    opacity: .7;
}

.contactame:hover {
    /* color: white; */
    opacity: 1;
    transition: .5s;
}

.masInfo {
    display: flex;
    width: 80%;
    background-color: var(--colorppl);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid white;
    opacity: .7;
}

.masInfo:hover {
    /* background-color: var(--colorsec); */
    opacity: 1;
    transition: .5s;
}

.serv1,
.serv2,
.serv3,
.serv4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorppl);
    border-radius: 5px 5px 5px 5px;
}

#escritura {
    height: 600px;
    background-color: var(--colorppl);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}


/*Libros*/

.libro1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.libro2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.libro_text {
    margin: 0 15px;
    text-align: center;
    line-height: 1.5;
    font-family: var(--fuenteppal);
    font-size: 20px;
}

.libro_img {
    max-width: 40%
}

.libro_titulo {
    margin: 0 auto;
    color: rgb(54, 54, 54);
    font-weight: normal;
}


/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    background-color: rgb(54, 54, 54);
}

footer .separador {
    width: 80%;
    padding-top: 5px;
    border-bottom: 1px dotted #ffffff;
}

.footer_text {
    color: white;
    font-family: var(--fuentetitulo);
    font-size: 16px;
    font-style: italic;
}

.social {
    margin-top: 50px;
}

.social img {
    transform: scale(0.75, 0.75);
}


/*Utilidad*/

.separador {
    border-bottom: 1px dotted #707070;
    width: 50%;
    margin: 20px auto;
}


/*Boostrap section*/

.servicios_header {
    background-image: url(/Img/header-contactp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
    position: relative;
}

.servicio_1,
.servicio_3 {
    background-color: white;
}

.servicio_1 {
    position: relative;
    top: -80px;
}

.colum1 {
    background-color: bisque;
}

.text-contacto {
    font-family: var(--fuenteppal);
}

.inicio {
    position: relative;
    top: -90px;
    font-size: 24px;
    color: white;
}

.inicio:hover {
    color: black;
}

.toast {
    bottom: 0px;
    right: 0px;
}


/*********************MEDIA-QUERYS************************/

@media all and (min-width: 600px) and (max-width: 1023px) {
    .contenedor {
        width: 580px;
    }
    .navegacion-ppl {
        display: none;
    }
    .nav-hamb {
        display: flex;
    }
    .nombre {
        display: flex;
        justify-content: space-evenly;
    }
    #portadaycontacto {
        height: 400px;
    }
    .cuadro_contacto {
        transform: scale(.65);
        top: 60px;
        height: 400px;
        justify-content: flex-end;
        left: -6px;
    }
    .cuadro_contacto .iconos {
        padding: 10px 0;
    }
    .titulo2 {
        top: 20px;
        width: 400px;
        height: 360px;
        left: 80px;
    }
    .titulo2 h2 {
        margin-left: 10px;
        font-size: 50px;
    }
    .titulo2 img {
        width: 230px;
        height: 230px;
    }
    #sobre_mi {
        height: 400px;
    }
    #sobre_mi p {
        font-size: 16px;
    }
    h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    #texto1_sobremi {
        height: 290px;
        width: 180px;
        margin-top: 105px;
        margin-left: 66.6px;
        margin-right: 66.6px;
    }
    #texto2_sobremi {
        height: 290px;
        width: 180px;
    }
    #texto2_sobremi h3 {
        margin-top: 25px;
    }
}


/*fin media*/

@media all and (max-width:599px) {
    .navegacion-ppl {
        display: none;
    }
    .nav-hamb {
        display: flex;
    }
    .contenedor {
        position: relative;
        width: 100%;
    }
    .navegacion-ppl {
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .navegacion-ppl a {
        font-size: 90%;
    }
    #portadaycontacto {
        margin-bottom: 10px
    }
    .cuadro_contacto {
        transform: scale(.7);
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 94%;
        left: 0px;
        height: 48px;
        width: 100%;
    }
    .titulo2 {
        flex-direction: column;
        background-color: rgb(122 48 48 /0%);
        top: 25%;
        width: 100%;
        height: 360px;
        left: 0px;
        z-index: 2;
    }
    .titulo2 h2 {
        font-size: 60px;
    }
    .titulo2 img {
        width: 200px;
        height: 200px;
    }
    .img_ancho {
        width: 50%;
        height: 50%;
        border-radius: 100%;
        border: 5px solid rgb(253, 253, 253);
    }
    #sobre_mi {
        height: 600px;
        border-top: 0px solid rgb(255, 255, 255);
    }
    #sobre_mi p {
        font-size: 20px;
        text-align: center;
    }
    h3 {
        font-size: 18px;
    }
    #texto1_sobremi {
        height: 300px;
        width: 100%;
        float: inline-start;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border: 0px solid #ffffff;
    }
    #texto2_sobremi {
        height: 50%;
        width: 100%;
        float: inline-end;
        border: 0px solid #fcdc64;
    }
    #texto2_sobremi h3 {
        margin-top: 0px;
    }
    .servicios h3 {
        font-size: 30px;
    }
    .text {
        font-size: 25px;
    }
    .contactame {
        font-size: 20px;
    }
    #escritura {
        display: block;
    }
    .libro_text {
        margin: 0 15px;
        text-align: center;
        line-height: 1.5;
        font-family: var(--fuenteppal);
        font-size: 20px;
    }
    .libro_img {
        display: none;
    }
    .libro_titulo {
        margin: 0 auto;
    }
    .separador {
        margin: 15px auto;
    }
}